.sections-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 53% 45%;
  grid-column-gap: 2%;
  justify-items: start;
  background: #460c48;
  color: #fff;
  padding-bottom: 80px;
  padding-top: 20px;

  .first-section {
    padding-left: 48px;

    .p-tag {
      font-size: 20px;
      font-weight: 400;
      margin-top: 14px;
      letter-spacing: -0.2px;
      line-height: 26.66px;
    }

    .sign-up {
      h1 {
        font-size: 60px;
        font-weight: 700;
        line-height: 68px;
        margin: 0;
        max-width: 608.4px;
        text-align: left;
        text-size-adjust: 100%;

        span {
          color: #ecb22e;
        }
      }
      p {
        margin-right: 91.8906px;
        max-width: 560px;
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        line-height: 26.66px;
      }
    }

    .signButtons {
      display: flex;
      column-gap: 15px;
      flex-wrap: wrap;
      row-gap: 15px;

      .email-parent {
        .email {
          background: #fff;
          color: #460c48;

          &:hover {
            box-shadow: inset 0 0 0 2px #611f69;
          }
        }

        span {
          letter-spacing: 0.8px;
          line-height: 17.9998px;
          padding-bottom: 20px;
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 19px;
          text-align: center;
        }
        .email-container,
        .google-container {
          width: 256px;
          height: 57px;
        }

        .email,
        .google {
          font-size: 14px;
          font-weight: 700;
          text-align: center;
        }
      }

      .google-container {
        background: #4284f3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        padding-left: 4px;
        height: 57px;
        border-radius: 4px;

        .google {
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 0.8px;
          line-height: 17.9998px;
          margin-left: 0px;
          padding-left: 12px;
          padding-right: 16px;
          text-size-adjust: 100%;
        }
        .svg {
          width: 49px;
          height: 49px;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .second-section {
    .vid {
      .sign-video {
        max-width: 700px;
        max-height: 400px;
      }
    }
  }
}

@media (max-width: 1022px) {
  .email-parent {
    width: 100%;

    .email {
      width: 100%;
    }
  }

  .google-container {
    width: 100%;

    .google {
      width: 100%;
    }
  }
}
