// styling of the work tools container
.work-tools {
  display: flex;
  column-gap: 10.9756%;
  align-items: center;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 48px 0;
  margin: 0;

  //   styling of the work video class
  .work-video {
    //   styling of the video
    video {
      align-items: center;
      box-sizing: border-box;
      column-gap: 10.9756%;
      font-size: 16px;
      grid-template-columns: 624.375px 515.109px;
      height: 363.625px;
      margin: 0px;
      max-width: 1280px;
      padding: 0px;
      color: rgb(0, 0, 0);
      display: grid;
    }
  }

  //   styling of the tools class
  .tools {
    max-width: 480px;

    //   styling of the title
    h2 {
      font-size: 45px;
      color: rgb(0, 0, 0);
      display: block;

      font-weight: 700;
      height: 112px;
      letter-spacing: -0.8px;
      line-height: 56px;
      margin-block-end: 16px;
      margin-block-start: 0px;
      margin-bottom: 16px;
      margin-inline-end: 0px;
      margin-inline-start: 0px;
      margin-top: 0px;
    }
    //   styling of the paragraph
    p {
      font-size: 18px;
      font-weight: 500;
      color: #000;
      line-height: 25px;
      letter-spacing: 0.2px;
    }

    //   styling of the link
    a {
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0.2px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: rgb(18, 100, 163);
    }
  }
}
